

body, html{
    height: 100%;
    
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header{ 
    display: flex;
    background-image: linear-gradient(to right, white, #D1D5DB);
    height: 90px;
    width: 100%;
}

.heading{
    font-weight: bold;
    margin-left: 370px;
    color: black;
    margin-top: 20px;
}

.heading-img{
    width: 120px;    
    height: 90px;
}

main{
    margin: auto;
    background-color: #FAFAFA;
    width: 100%;
    height: 500px;
    padding: 2rem 2rem;
    background-image: url(./images/mando1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.input{ 
    color: white;
}
#txt-input{
    border: 1px solid white;
    height: 15vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;  
    background-color: black;
    color: white;
}

button{
    background-color: #9CA3AF;
    display: grid;
    border: none;
    margin-top: 1rem;
    margin-left: 14px;      
    padding: 1rem 1rem;
    font-size: large;
    font-weight: bold;
    font-family: "Karla", sans-serif;
    border-radius: 6px;
}

.txt-output{
    padding: 1rem 1rem;
    color: white;
}

#output{
    border: 1px solid white;
    height: 15vh;
    width: 80%;
    margin: 1rem;
    margin-top: 1rem;
    padding: 1rem 1rem;
    background-color: #7DD3FC;
}

footer{
    font-size: large;
    background-image: url(./images/mando3.jpg);
    height: 18%;
    padding: 1rem;
    align-items: center;
    
}

footer > p{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 35px;
    color: #22D3EE;
}